Repository depromeet/coQuality, pull requests merged in 2022-12, with the labels that each got.

#60 유저 정보 수정하기 고도화
  src/main/java/com/depromeet/coquality/inner/user/apllication/service/ModifyUserService.java
  src/main/java/com/depromeet/coquality/inner/user/domain/User.java
  src/main/java/com/depromeet/coquality/inner/user/port/driving/ModifyUserUseCase.java
  src/main/java/com/depromeet/coquality/inner/user/port/driving/dto/request/UserDto.java
  src/main/java/com/depromeet/coquality/outer/comment/adapter/driving/web/CommentController.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driven/persistance/JpaUserAdapter.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/AuthController.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/UserController.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/dto/reqeust/ModifyUserRequest.java
Labels: 🐱제준, user

#61 글 목록 조회 API 구현
  src/main/java/com/depromeet/coquality/inner/post/application/service/ReadPostDetailService.java
  src/main/java/com/depromeet/coquality/inner/post/application/service/ReadPostsService.java
  src/main/java/com/depromeet/coquality/inner/post/port/driven/PostPort.java
  src/main/java/com/depromeet/coquality/inner/post/port/driving/ReadPostDetailUseCase.java
  src/main/java/com/depromeet/coquality/inner/post/port/driving/ReadPostsUseCase.java
  src/main/java/com/depromeet/coquality/inner/post/vo/PostDetailResponse.java
  src/main/java/com/depromeet/coquality/inner/post/vo/PostResponse.java
  src/main/java/com/depromeet/coquality/outer/comment/infrastructure/JpaCommentRepository.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driven/persistence/JpaPostAdapter.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/PostController.java
  src/main/java/com/depromeet/coquality/outer/post/entity/PostEntity.java
  src/main/java/com/depromeet/coquality/outer/user/infrastructure/JpaUserRepository.java
  src/main/resources/application-local.yml
Labels: post, feature

#62 글 수정 API 정책 수정 및 고도화
  src/main/java/com/depromeet/coquality/inner/common/domain/exception/CoQualityDomainExceptionCode.java
  src/main/java/com/depromeet/coquality/inner/post/application/service/ModifyPostService.java
  src/main/java/com/depromeet/coquality/inner/post/application/service/ReadPostDetailService.java
  src/main/java/com/depromeet/coquality/inner/post/application/service/ReadPostsService.java
  src/main/java/com/depromeet/coquality/inner/post/domain/Post.java
  src/main/java/com/depromeet/coquality/inner/post/domain/constant/PostConstant.java
  src/main/java/com/depromeet/coquality/inner/post/domain/policy/validation/PostValidationPolicy.java
  src/main/java/com/depromeet/coquality/inner/post/port/driven/PostPort.java
  src/main/java/com/depromeet/coquality/inner/post/port/driving/ModifyPostUseCase.java
  src/main/java/com/depromeet/coquality/inner/post/port/driving/ReadPostDetailUseCase.java
  src/main/java/com/depromeet/coquality/inner/post/vo/ModifyPostCommand.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driven/persistence/JpaPostAdapter.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/PostController.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/request/ModifyPostRequest.java
  src/main/java/com/depromeet/coquality/outer/post/entity/PostEntity.java
Labels: post, feature

#67 팔로우 기능을 구현했어요.
  src/main/java/com/depromeet/coquality/inner/comment/port/driving/GetCommentUseCase.java
  src/main/java/com/depromeet/coquality/inner/comment/vo/CommentResponse.java
  src/main/java/com/depromeet/coquality/inner/common/domain/exception/CoQualityDomainExceptionCode.java
  src/main/java/com/depromeet/coquality/inner/follow/application/CreateFollowService.java
  src/main/java/com/depromeet/coquality/inner/follow/application/DeleteFollowService.java
  src/main/java/com/depromeet/coquality/inner/follow/application/GetFollowCountService.java
  src/main/java/com/depromeet/coquality/inner/follow/application/GetFollowersService.java
  src/main/java/com/depromeet/coquality/inner/follow/application/GetFollowingService.java
  src/main/java/com/depromeet/coquality/inner/follow/domain/Follow.java
  src/main/java/com/depromeet/coquality/inner/follow/domain/policy/validation/FollowValidationPolicy.java
  src/main/java/com/depromeet/coquality/inner/follow/exception/FollowDuplicateException.java
  src/main/java/com/depromeet/coquality/inner/follow/port/driven/FollowPort.java
  src/main/java/com/depromeet/coquality/inner/follow/port/driving/CreateFollowUseCase.java
  src/main/java/com/depromeet/coquality/inner/follow/port/driving/DeleteFollowUseCase.java
  src/main/java/com/depromeet/coquality/inner/follow/port/driving/GetFollowCountUseCase.java
  src/main/java/com/depromeet/coquality/inner/follow/port/driving/GetFollowersUseCase.java
  src/main/java/com/depromeet/coquality/inner/follow/port/driving/GetFollowingUseCase.java
  src/main/java/com/depromeet/coquality/inner/follow/vo/FollowUserResponse.java
  src/main/java/com/depromeet/coquality/outer/follow/adapter/driven/persistence/JpaFollowAdapter.java
  src/main/java/com/depromeet/coquality/outer/follow/adapter/driving/web/FollowController.java
  src/main/java/com/depromeet/coquality/outer/follow/entity/FollowEntity.java
  src/main/java/com/depromeet/coquality/outer/follow/infrastructure/JpaFollowRepository.java
Labels: 🐱제준, follow

#69 박수 기능 구현
  src/main/java/com/depromeet/coquality/inner/clap/application/service/ClapPostService.java
  src/main/java/com/depromeet/coquality/inner/clap/port/driving/ClapUseCase.java
  src/main/java/com/depromeet/coquality/inner/post/domain/Post.java
  src/main/java/com/depromeet/coquality/inner/post/vo/PostDetailResponse.java
  src/main/java/com/depromeet/coquality/inner/post/vo/PostResponse.java
  src/main/java/com/depromeet/coquality/outer/clap/adapter/driving/web/ClapController.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driven/persistence/JpaPostAdapter.java
  src/main/java/com/depromeet/coquality/outer/post/entity/PostEntity.java
Labels: feature, clap

#71 북마크 기능을 구현했어요.
  src/main/java/com/depromeet/coquality/inner/bookmark/application/CreateBookmarkService.java
  src/main/java/com/depromeet/coquality/inner/bookmark/application/DeleteAllBookmarkService.java
  src/main/java/com/depromeet/coquality/inner/bookmark/application/DeleteBookmarkService.java
  src/main/java/com/depromeet/coquality/inner/bookmark/application/ModifyBookmarkService.java
  src/main/java/com/depromeet/coquality/inner/bookmark/application/ReadBookmarkPostsService.java
  src/main/java/com/depromeet/coquality/inner/bookmark/domain/Bookmark.java
  src/main/java/com/depromeet/coquality/inner/bookmark/domain/policy/validation/BookmarkValidationPolicy.java
  src/main/java/com/depromeet/coquality/inner/bookmark/port/driven/BookmarkPort.java
  src/main/java/com/depromeet/coquality/inner/bookmark/port/driving/CreateBookmarkUseCase.java
  src/main/java/com/depromeet/coquality/inner/bookmark/port/driving/DeleteAllBookmarkUseCase.java
  src/main/java/com/depromeet/coquality/inner/bookmark/port/driving/DeleteBookmarkUseCase.java
  src/main/java/com/depromeet/coquality/inner/bookmark/port/driving/ModifyBookmarkUseCase.java
  src/main/java/com/depromeet/coquality/inner/bookmark/port/driving/ReadBookmarkPostsUseCase.java
  src/main/java/com/depromeet/coquality/inner/bookmark/port/driving/dto/BookmarkDto.java
  src/main/java/com/depromeet/coquality/inner/bookmark/vo/BookmarkPostResponse.java
  src/main/java/com/depromeet/coquality/inner/common/domain/exception/CoQualityDomainExceptionCode.java
  src/main/java/com/depromeet/coquality/inner/user/apllication/service/ValidateNicknameService.java
  src/main/java/com/depromeet/coquality/inner/user/port/driven/UserPort.java
  src/main/java/com/depromeet/coquality/inner/user/port/driving/ValidateNicknameUseCase.java
  src/main/java/com/depromeet/coquality/outer/bookmark/adapter/driven/persistence/JpaBookmarkAdapter.java
  src/main/java/com/depromeet/coquality/outer/bookmark/adapter/driving/web/BookmarkController.java
  src/main/java/com/depromeet/coquality/outer/bookmark/adapter/driving/web/request/BookmarkRequest.java
  src/main/java/com/depromeet/coquality/outer/bookmark/entity/BookmarkEntity.java
  src/main/java/com/depromeet/coquality/outer/bookmark/infrastructure/JpaBookmarkRepository.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driven/persistance/JpaUserAdapter.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/UserController.java
  src/main/java/com/depromeet/coquality/outer/user/entity/UserEntity.java
  src/main/java/com/depromeet/coquality/outer/user/infrastructure/JpaUserRepository.java
  src/main/resources/application-local.yml
Labels: 🐱제준, bookmark

#72 글 생성시 태그를 추가하도록 기능 추가
  src/main/java/com/depromeet/coquality/inner/tag/application/service/CreateTagsService.java
  src/main/java/com/depromeet/coquality/inner/tag/domain/Tag.java
  src/main/java/com/depromeet/coquality/inner/tag/port/driven/TagPort.java
  src/main/java/com/depromeet/coquality/inner/tag/port/driving/CreateTagsUseCase.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/PostController.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/request/IssuePostRequest.java
  src/main/java/com/depromeet/coquality/outer/tag/adapter/driven/JpaTagAdapter.java
  src/main/java/com/depromeet/coquality/outer/tag/entity/TagEntity.java
  src/main/java/com/depromeet/coquality/outer/tag/infrastructure/JpaTagRepository.java
  src/main/java/com/depromeet/coquality/outer/tag/infrastructure/JpaTagRepositoryCustom.java
  src/main/java/com/depromeet/coquality/outer/tag/infrastructure/JpaTagRepositoryImpl.java
Labels: post, feature

#74 글 조회시 tag가 함께 조회되도록 수정
  src/main/java/com/depromeet/coquality/inner/post/vo/PostDetailResponse.java
  src/main/java/com/depromeet/coquality/inner/post/vo/PostResponse.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driven/persistence/JpaPostAdapter.java
  src/main/java/com/depromeet/coquality/outer/post/entity/PostEntity.java
  src/main/java/com/depromeet/coquality/outer/tag/infrastructure/JpaTagRepository.java
Labels: post, feature
