Repository depromeet/coQuality, pull requests merged in 2022-11, with the labels that each got.

#21 글 작성하기
  src/main/java/com/depromeet/coquality/CoQualityApplication.java
  src/main/java/com/depromeet/coquality/inner/common/domain/exception/CoQualityDomainExceptionCode.java
  src/main/java/com/depromeet/coquality/inner/post/application/service/IssuePostService.java
  src/main/java/com/depromeet/coquality/inner/post/domain/Post.java
  src/main/java/com/depromeet/coquality/inner/post/domain/code/PrimaryPostCategoryCode.java
  src/main/java/com/depromeet/coquality/inner/post/domain/policy/validation/PostValidationPolicy.java
  src/main/java/com/depromeet/coquality/inner/post/port/driven/PostPort.java
  src/main/java/com/depromeet/coquality/inner/post/port/driving/IssuePostUseCase.java
  src/main/java/com/depromeet/coquality/outer/common/entity/BaseEntity.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driven/persistence/JpaPostAdapter.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/PostController.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/request/CreatePostRequest.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/request/IssuePostRequest.java
  src/main/java/com/depromeet/coquality/outer/post/entity/PostEntity.java
Labels: 🐤우영, post

#20 feat: oauth 회원가입 구현
  build.gradle
  src/main/java/com/depromeet/coquality/inner/common/util/HttpHeaderUtils.java
  src/main/java/com/depromeet/coquality/inner/user/apllication/service/SignUpUserProvider.java
  src/main/java/com/depromeet/coquality/inner/user/apllication/service/kakao/KaKaoSignUpService.java
  src/main/java/com/depromeet/coquality/inner/user/apllication/service/utils/SignUpUserServiceUtils.java
  src/main/java/com/depromeet/coquality/inner/user/domain/User.java
  src/main/java/com/depromeet/coquality/inner/user/domain/policy/validation/UserValidationPolicy.java
  src/main/java/com/depromeet/coquality/inner/user/port/driven/UserPort.java
  src/main/java/com/depromeet/coquality/inner/user/port/driving/SignUpUserUseCase.java
  src/main/java/com/depromeet/coquality/inner/user/port/driving/dto/request/SignUpDto.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driven/persistance/JpaUserAdapter.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/AuthController.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/dto/reqeust/SignUpRequest.java
  src/main/java/com/depromeet/coquality/outer/user/entity/SocialInfo.java
  src/main/java/com/depromeet/coquality/outer/user/entity/UserEntity.java
  src/main/java/com/depromeet/coquality/outer/user/entity/UserSocialType.java
  src/main/java/com/depromeet/coquality/outer/user/external/client/kakao/KaKaoAuthApiClient.java
  src/main/java/com/depromeet/coquality/outer/user/external/client/kakao/dto/response/KaKaoProfileResponse.java
  src/main/java/com/depromeet/coquality/outer/user/external/client/kakao/dto/response/KakaoAccount.java
  src/main/java/com/depromeet/coquality/outer/user/external/config/FeignClientConfig.java
  src/main/java/com/depromeet/coquality/outer/user/infrastructure/JpaUserRepository.java
Labels: auth, 🐱제준

#23 feat: oauth 로그인 추가 및 JWT 도입
  build.gradle
  src/main/java/com/depromeet/coquality/inner/user/apllication/service/SignInUserProvider.java
  src/main/java/com/depromeet/coquality/inner/user/apllication/service/kakao/KakaoSignInService.java
  src/main/java/com/depromeet/coquality/inner/user/apllication/service/utils/SignUpUserServiceUtils.java
  src/main/java/com/depromeet/coquality/inner/user/port/driven/UserPort.java
  src/main/java/com/depromeet/coquality/inner/user/port/driving/SignInUserUseCase.java
  src/main/java/com/depromeet/coquality/inner/user/port/driving/dto/request/LoginDto.java
  src/main/java/com/depromeet/coquality/outer/common/config/AuthorizationSwaggerConfig.java
  src/main/java/com/depromeet/coquality/outer/common/config/WebConfig.java
  src/main/java/com/depromeet/coquality/outer/interceptor/Auth.java
  src/main/java/com/depromeet/coquality/outer/interceptor/AuthInterceptor.java
  src/main/java/com/depromeet/coquality/outer/interceptor/LoginCheckHandler.java
  src/main/java/com/depromeet/coquality/outer/jwt/JwtHeader.java
  src/main/java/com/depromeet/coquality/outer/jwt/JwtService.java
  src/main/java/com/depromeet/coquality/outer/jwt/SimpleJwtService.java
  src/main/java/com/depromeet/coquality/outer/resolver/UserId.java
  src/main/java/com/depromeet/coquality/outer/resolver/UserIdResolver.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driven/persistance/JpaUserAdapter.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/AuthController.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/dto/reqeust/LoginRequest.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/dto/response/LoginResponse.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/dto/response/SignUpResponse.java
  src/main/java/com/depromeet/coquality/outer/user/infrastructure/JpaUserRepository.java
Labels: auth, 🐱제준

#25 글 삭제 기능 구현
  src/main/java/com/depromeet/coquality/inner/post/application/service/DeletePostService.java
  src/main/java/com/depromeet/coquality/inner/post/port/driving/DeletePostUseCase.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driven/persistence/JpaPostAdapter.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/PostController.java
Labels: 🐤우영, post

#26 [FEAT] 내 정보 조회하기 기능 구현
  src/main/java/com/depromeet/coquality/inner/user/apllication/service/ReadUserService.java
  src/main/java/com/depromeet/coquality/inner/user/domain/User.java
  src/main/java/com/depromeet/coquality/inner/user/port/driven/UserPort.java
  src/main/java/com/depromeet/coquality/inner/user/port/driving/ReadUserUserCase.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driven/persistance/JpaUserAdapter.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/UserController.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/dto/response/UserResponse.java
Labels: 🐱제준, user

#27 글 수정 기능 구현
  src/main/java/com/depromeet/coquality/inner/post/application/service/ModifyPostService.java
  src/main/java/com/depromeet/coquality/inner/post/domain/Post.java
  src/main/java/com/depromeet/coquality/inner/post/port/driven/PostPort.java
  src/main/java/com/depromeet/coquality/inner/post/port/driving/ModifyPostUseCase.java
  src/main/java/com/depromeet/coquality/inner/post/port/driving/UpdatePostUseCase.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driven/persistence/JpaPostAdapter.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/PostController.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/request/ModifyPostRequest.java
  src/main/java/com/depromeet/coquality/outer/post/entity/PostEntity.java
Labels: post

#33 [FIX] 유저 닉네임과 이메일도 직접 받는 것으로 결정되어 추가했습니다.
  src/main/java/com/depromeet/coquality/inner/user/apllication/service/kakao/KaKaoSignUpService.java
  src/main/java/com/depromeet/coquality/inner/user/domain/User.java
  src/main/java/com/depromeet/coquality/inner/user/port/driving/dto/request/SignUpDto.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driven/persistance/JpaUserAdapter.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/dto/reqeust/SignUpRequest.java
  src/main/java/com/depromeet/coquality/outer/user/entity/UserEntity.java
  src/main/java/com/depromeet/coquality/outer/user/external/client/kakao/dto/response/KaKaoProfileResponse.java
Labels: auth, 🐱제준

#35 Post 상태 코드 정의
  src/main/java/com/depromeet/coquality/inner/common/domain/exception/CoQualityDomainExceptionCode.java
  src/main/java/com/depromeet/coquality/inner/post/application/service/ReadPostService.java
  src/main/java/com/depromeet/coquality/inner/post/domain/Post.java
  src/main/java/com/depromeet/coquality/inner/post/domain/code/PostStatusCode.java
  src/main/java/com/depromeet/coquality/inner/post/domain/policy/validation/PostValidationPolicy.java
  src/main/java/com/depromeet/coquality/inner/post/port/driven/PostPort.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driven/persistence/JpaPostAdapter.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/PostController.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/request/ModifyPostRequest.java
  src/main/java/com/depromeet/coquality/outer/post/entity/PostEntity.java
  src/main/java/com/depromeet/coquality/outer/post/infrastructure/JpaPostRepository.java
Labels: post, feature

#39 User update 수정 기능 구현
  src/main/java/com/depromeet/coquality/inner/common/domain/exception/CoQualityDomainExceptionCode.java
  src/main/java/com/depromeet/coquality/inner/user/apllication/service/ModifyUserService.java
  src/main/java/com/depromeet/coquality/inner/user/domain/User.java
  src/main/java/com/depromeet/coquality/inner/user/domain/policy/validation/UserValidationPolicy.java
  src/main/java/com/depromeet/coquality/inner/user/port/driven/UserPort.java
  src/main/java/com/depromeet/coquality/inner/user/port/driving/ModifyUserUseCase.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driven/persistance/JpaUserAdapter.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/UserController.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/dto/reqeust/ModifyUserRequest.java
  src/main/java/com/depromeet/coquality/outer/user/entity/SocialInfo.java
  src/main/java/com/depromeet/coquality/outer/user/entity/UserEntity.java
Labels: 🐱제준, user

#41 feat: 공통 응답 모델 초안 구현
  src/main/java/com/depromeet/coquality/outer/common/vo/ApiResponse.java
Labels: response

#42 refactor: comment user 부분 수정
  src/main/java/com/depromeet/coquality/inner/comment/application/CreateCommentService.java
  src/main/java/com/depromeet/coquality/inner/comment/application/UpdateCommentService.java
  src/main/java/com/depromeet/coquality/inner/comment/domain/Comment.java
  src/main/java/com/depromeet/coquality/outer/comment/adapter/driven/persistence/JpaCommentAdapter.java
  src/main/java/com/depromeet/coquality/outer/comment/adapter/driving/web/CommentController.java
  src/main/java/com/depromeet/coquality/outer/comment/entity/CommentEntity.java
Labels: 🐱제준, comment

#43 내 글 조회 API 구현
  src/main/java/com/depromeet/coquality/inner/post/domain/Post.java
  src/main/java/com/depromeet/coquality/inner/post/domain/code/PostStatusCode.java
  src/main/java/com/depromeet/coquality/inner/post/vo/PostsReadInfo.java
  src/main/java/com/depromeet/coquality/outer/interceptor/AuthInterceptor.java
  src/main/java/com/depromeet/coquality/outer/interceptor/LocalAuthInterceptor.java
  src/main/java/com/depromeet/coquality/outer/interceptor/ProdAuthInterceptor.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driven/persistence/JpaPostAdapter.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/PostController.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/request/IssuePostRequest.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/request/ModifyPostRequest.java
  src/main/java/com/depromeet/coquality/outer/post/entity/PostEntity.java
  src/main/java/com/depromeet/coquality/outer/post/infrastructure/JpaPostRepositoryImpl.java
  src/main/java/com/depromeet/coquality/outer/resolver/LocalUserIdResolver.java
  src/main/java/com/depromeet/coquality/outer/resolver/ProdUserIdResolver.java
  src/main/java/com/depromeet/coquality/outer/resolver/UserIdResolver.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/AuthController.java
Labels: post, feature

#57 글 등록하기 API
  src/main/java/com/depromeet/coquality/inner/common/domain/exception/CoQualityDomainExceptionCode.java
  src/main/java/com/depromeet/coquality/inner/post/domain/Post.java
  src/main/java/com/depromeet/coquality/inner/post/domain/policy/validation/PostValidationPolicy.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driven/persistence/JpaPostAdapter.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/PostController.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/request/IssuePostRequest.java
  src/main/java/com/depromeet/coquality/outer/post/adapter/driving/web/request/ModifyPostRequest.java
  src/main/java/com/depromeet/coquality/outer/post/entity/PostEntity.java
  src/main/java/com/depromeet/coquality/outer/post/entity/RedisPost.java
  src/main/java/com/depromeet/coquality/outer/post/infrastructure/JpaPostRepositoryImpl.java
  src/main/java/com/depromeet/coquality/outer/user/entity/UserEntity.java
  src/main/resources/application-local.yml
Labels: post, feature

#58 댓글 삭제하기
  build.gradle
  src/main/java/com/depromeet/coquality/inner/comment/application/CreateCommentService.java
  src/main/java/com/depromeet/coquality/inner/comment/application/DeleteCommentService.java
  src/main/java/com/depromeet/coquality/inner/comment/application/UpdateCommentService.java
  src/main/java/com/depromeet/coquality/inner/comment/domain/Comment.java
  src/main/java/com/depromeet/coquality/inner/comment/port/driven/CommentPort.java
  src/main/java/com/depromeet/coquality/inner/comment/port/driving/DeleteCommentUseCase.java
  src/main/java/com/depromeet/coquality/inner/common/domain/exception/CoQualityDomainExceptionCode.java
  src/main/java/com/depromeet/coquality/outer/comment/adapter/driven/persistence/JpaCommentAdapter.java
  src/main/java/com/depromeet/coquality/outer/comment/adapter/driving/web/CommentController.java
  src/main/java/com/depromeet/coquality/outer/comment/adapter/driving/web/request/CreateCommentRequest.java
  src/main/java/com/depromeet/coquality/outer/comment/adapter/driving/web/response/CommentResponse.java
  src/main/java/com/depromeet/coquality/outer/comment/entity/CommentEntity.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/AuthController.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/dto/response/LoginResponse.java
  src/main/java/com/depromeet/coquality/outer/user/adapter/driving/web/dto/response/SignUpResponse.java
  src/main/resources/application.yml
Labels: 🐱제준, comment
